.root {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 35px;
  position: fixed;
  bottom: 10px;
}

.content {
  margin-right: 150px;
  height: 100%;
  width: 499px;
  z-index: 5333;
  display: flex;
  align-items: center;
  p {
    user-select: none;
    font-size: 17px;
    font-weight: 600;
    margin-right: 10px;
    text-align: center;
  }
  .scrolling {
    display: flex;
    align-items: center;
  }
}

.arrow {
  margin: 8px
}