.root {
  height: 100%;
  width: 40vw;
  cursor: default;
  user-select: none;
  text-align: start;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding-left: 20px;
}

.text {
  h1 {
    width: 550px;
    line-height: 50px;
    height: 30vh;
    font-size: 53px;
    font-weight: 500;
    //margin-bottom: 20px;
  }
  p {
    font-size: 18px;
    width: 350px;
    height: 13vh;
  }
}

.links {
  display: flex;
  flex-direction: column;
  height: 10vh;
}