.link {
  display: inline-block;
  cursor: pointer;
  font-weight: 650;
  font-size: 19px;
  text-align: start;
  height: 50%;
  width: fit-content;
  vertical-align: center;
  padding-right: 40px;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 30px;
  transition: .3s all, .1s background-color;

  &:hover {
    //background-color: rgba(255, 255, 255, 0.24);
    //background-color: rgb(183, 39, 77);
    //color: white;
  }

  .arrow {
    margin-right: 5px;
    margin-top: 5px;
    left: 80px;
    transition: transform 0.2s ease;
  }
}

.text {
  cursor: pointer;
  font-weight: 650;
  font-size: 19px;
  text-align: start;
  height: 50%;
}
